<section class="contact-block">
    <div class="contact-form">
        <div class="section-title">
            <h2>Liên hệ với chúng tôi</h2>
        </div>
        <div class="form-filde">
            <form class="has-validation-callback"
                  action="http://design.dev.drcsystems.ooo:8084/themeforest/academy/html/thank-you.html"
                  method="post">
                <div class="input-box">
                    <input type="text" placeholder="Tên" data-validation="required" name="name">
                </div>
                <div class="input-box">
                    <input type="text" placeholder="Địa Chỉ Mail" data-validation="required" name="email">
                </div>
                <div class="input-box">
                    <input type="text" placeholder="Tiêu Đề" data-validation="required" name="subject">
                </div>
                <div class="input-box">
                    <textarea placeholder="Message" data-validation="required" name="Lời Nhắn"></textarea>
                </div>
                <div class="submit-slide">
                    <input type="submit" value="Gửi" class="btn">
                </div>
            </form>
        </div>
    </div>
    <div class="map-responsive map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3834.594359723897!2d108.24099841538234!3d16.03461814462248!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3142175ea5d8d99d%3A0x2e7e2969e5e69555!2zMTQgRG_Do24gVeG6qW4sIEtodcOqIE3hu7ksIE5nxakgSMOgbmggU8ahbiwgxJDDoCBO4bq1bmcsIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1596101014216!5m2!1svi!2s"
                width="100%" height="650" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
</section>
