
    <footer id="footer">
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-3">
                        <h5>Kiểm Tra Thử</h5>
                        <div class="course-slide">
                            <div class="img"><img src="~/Asserts/Client/images/blog/post-img1.jpg" alt=""></div>
                            <p><a href="courses-list.html">Tiếng Anh </a></p>
                            <div class="price">Miễn Phí</div>
                        </div>
                        <div class="course-slide">
                            <div class="img"><img src="~/Asserts/Client/images/blog/post-img2.jpg" alt=""></div>
                            <p><a href="courses-list-sideBar.html">Toán học </a></p>
                            <div class="price">Miễn Phí</div>
                        </div>
                        <div class="course-slide">
                            <div class="img"><img src="~/Asserts/Client/images/blog/post-img3.jpg" alt=""></div>
                            <p><a href="courses-list.html">Toán IQ</a></p>
                            <div class="price">Miễn Phí</div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-md-offset-1 col-sm-6 col-md-5 col-xs-6">
                                <h5>Về chúng tôi</h5>
                                <ul class="footer-link">
                                    <li><a href="about-us.html">Điều khoản dịch vụ</a></li>
                                    <li><a href="contact-us.html">Điều khoản quảng cáo</a></li>
                                    <li><a href="blog.html">Blog</a></li>
                                </ul>
                            </div>
                            <div class="col-md-offset-1 col-sm-6 col-md-5 col-xs-6">
                                <h5>Tính năng</h5>
                                <ul class="footer-link">
                                    <li><a href="courses-list.html">Tạo Quiz</a></li>
                                    <li><a href="price-plan.html">Giới Thiệu</a></li>
                                    <li><a href="forums.html">Lớp học</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <h5>Liên hệ</h5>
                        <div class="contact-view">
                            <div class="contact-slide">
                                <p>
                                    <i class="fa fa-location-arrow"></i>14 Doãn Uẩn, Ngũ Hành Sơn<br>Thành phố Đà
                                    Nẵng
                                </p>
                            </div>
                            <div class="contact-slide">
                                <p><i class="fa fa-phone"></i>(+84) 984 888 888</p>
                            </div>
                            <div class="contact-slide">
                                <p><i class="fa fa-fax"></i>(+84) 984 999 999</p>
                            </div>
                            <div class="contact-slide">
                                <p>
                                    <i class="fa fa-envelope"></i><a href="mailTo:academy@info.com">quizonline@gmail.com</a>
                                </p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <div class="copy-right">
                        <p>Copyright © <span class="year">2020</span> Universal Team</p>
                        <ul class="footer-link">
                            <li><a href="#">Điều Khoản</a></li>
                            <li><a href="#">Quy định quảng cáo</a></li>

                        </ul>
                    </div>
                </div>
                <div class="col-sm-4 ">
                    <div class="social-media">
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-skype"></i></a></li>
                            <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>