<header id="header">
    <div class="container">
        <nav id="nav-main">
            <div class="navbar navbar-inverse">
                <div class="navbar-header">
                    <a href="index.html" class="navbar-brand"><img src="~/Asserts/Client/images/logo.png" alt=""></a>
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="cart-box">
                    <a href="cart.html"><i class="fa fa-shopping-basket"></i></a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active sub-menu">
                            <a href="index.html">Trang Chủ </a>

                        </li>
                        <li class="mega-menu sub-menu">
                            <a href="courses-list.html">Lớp học</a>
                            <div class="menu-view">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <ul>
                                            <li><a href="courses-gride.html">Tạo mới lớp</a></li>
                                            <li>
                                                <a href="courses-gride-sideBar.html">Tham gia lớp học</a>
                                            </li>
                                            <li><a href="courses-list.html">Lớp học của tôi</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="sub-menu mega-menu">
                            <a href="#">Tạo Quiz</a>
                            <div class="menu-view" style="left: 66% !important">
                                <div class="row">
                                    <div class="col-sm-12 ">
                                        <ul>
                                            <li><a href="blog.html">Tạo câu hỏi</a></li>
                                            <li><a href="blog-details.html">Ngân hàng đề của tôi</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <!-- <li class="sub-menu">
                            <a href="#">Features</a>
                            <ul>
                                <li><a href="typography.html">Typography</a></li>
                                <li><a href="price-plan.html">Price Plan</a></li>
                                <li><a href="testimonial.html">Testimonial</a></li>
                            </ul>
                        </li> -->
                        <li><a href="about-us.html">Giới thiệu</a></li>
                        <!-- <li class="sub-menu">
                            <a href="event.html">Event</a>
                            <ul>
                                <li><a href="event.html">Event</a></li>
                                <li><a href="event-details.html">Event Details</a></li>
                                <li><a href="event-details2.html">Event Details2</a></li>
                            </ul>
                        </li> -->
                        <li class="sub-menu mega-menu">
                            <a href="forums.html">Blog</a>
                        </li>
                        <li><a href="contact-us.html">Liên hệ </a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>
