
<section class="banner">
    <div class="banner-img"><img src="~/Asserts/Client/images/banner/banner-img1.jpg" alt=""></div>
    <div class="banner-text">
        <div class="container">
            <h1>Tham gia vào lớp</h1>
            <p>Nhập Code để tham gia lớp học và làm kiểm tra</p>
            <div class="search-box">
                <input type="text" placeholder="Nhập mã code">
                <input type="submit" value="">
            </div>
            <div class="learning-btn">
                @Html.ActionLink("Tham gia lớp", "Index", "ClassManagerment ", new { @class = "btn" })
            </div>
        </div>
    </div>
</section>
