
@{
    ViewBag.Title = "Xác nhận tài khoản";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Asserts/Client/css/docss.css" rel="stylesheet" />
<section class="banner inner-page">
    <div class="banner-img"><img style="height: 350px !important" src="~/Asserts/Client/images/banner/register-bannerImg.jpg" alt=""></div>
    <div class="page-title">
        <div class="container">
        </div>
    </div>
</section>
<section class="breadcrumb">
    <div class="container">
        <ul>
            <li><a href="/Home/Index">Trang chủ</a></li>
            <li><a href="#">Xác nhận tài khoản</a></li>
        </ul>
    </div>
    <section class="login-view" style="margin-bottom: 2rem !important;">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <img style="height:700px;width:100%;" src="https://wallpaperaccess.com/full/749909.jpg" />
                </div>
                <div class="col-sm-6">

                    <div class="alert alert-success">
                        <strong>Thành công!</strong>
                        <div class="input-box">
                            <p> Cảm ơn bạn đã xác nhận tài khoản. Bây giờ bạn có thể  <a href="/Login/Index">Đăng nhập</a></p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
</section>
@section jsFooter{
    <script type="text/javascript" src="~/Asserts/Client/js/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="~/Asserts/Client/js/bootstrap.js"></script>

}




